
    <div class="row align-items-center" th:fragment="slider">
        <div class="col-lg-5 col-sm-6">
            <div class="main-slider-content">
                <div class="slider-content-activation-one">
                    <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="400" data-sal-duration="800">
                        <span class="subtitle"><i class="fas fa-fire"></i> Ưu đãi CPU trong tuần này</span>
                        <h1 class="title">CPU AMD Ryzen</h1>
                        <div class="slide-action">
                            <div class="shop-btn">
                                <a href="/shop" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide slick-slide">
                        <span class="subtitle"><i class="fas fa-fire"></i> Ưu đãi hấp dẫn trong tuần này</span>
                        <h1 class="title">CPU AMD Ryzen</h1>
                        <div class="slide-action">
                            <div class="shop-btn">
                                <a href="/shop" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide slick-slide">
                        <span class="subtitle"><i class="fas fa-fire"></i> Ưu đãi hấp dẫn trong tuần này</span>
                        <h1 class="title">CPU AMD Ryzen</h1>
                        <div class="slide-action">
                            <div class="shop-btn">
                                <a href="/shop" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-slide slick-slide">
                        <span class="subtitle"><i class="fas fa-fire"></i> Ưu đãi hấp dẫn trong tuần này</span>
                        <h1 class="title">CPU AMD Ryzen</h1>
                        <div class="slide-action">
                            <div class="shop-btn">
                                <a href="/shop" class="axil-btn btn-bg-white"><i class="fal fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-sm-6">
            <div class="main-slider-large-thumb">
                <div class="slider-thumb-activation-one axil-slick-dots">
                    <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                        <img src="/user/images/product/cpu_banner.png" alt="Shop Banner">
                    </div>
                    <div class="single-slide slick-slide" data-sal="slide-up" data-sal-delay="600" data-sal-duration="1500">
                        <img src="/user/images/product/cpu_banner_ryzen5.png" alt="Shop Banner">
                    </div>
                    <div class="single-slide slick-slide">
                        <img src="/user/images/product/ryzen7.png" alt="Shop Banner">
                    </div>
                    <div class="single-slide slick-slide">
                        <img src="/user/images/product/thredrippe.png" alt="Shop Banner">
                    </div>
                </div>
            </div>
        </div>
    </div>